/* This is a universal code for all pages */

*{
    box-sizing: border-box;
}

body, html
{
    height: 100%;
    margin: 0;
    padding: 0;
}

.head
{
    display: flex;
    background-color: rgb(255,251,245);
    justify-content:center;
}

body
{
    background-color:rgb(255,251,245);
}
