body
{
    background-image: url("../images/Banner-01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.container
{
    display: flex;
    flex-wrap: wrap;
}

.container>div
{
    flex: 1;
    height: 100%;
}

button
{
    position: absolute;
    width: 215px;
    height: 65px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
    border-radius: 50px;
    bottom: 0;
    border: none;
    margin-left: 150px;
    margin-right: 0%;
    background-color: rgb(238,97,87);
    color: white;
    outline: 3px solid white;
    outline-offset: -7px;
    font-family: 'canela_deck_triallight';
    font-weight:200;
    font-style:normal;
    font-size: 25px;
    line-height: 50px;
}

@font-face
{
    font-family: 'canela_deck_triallight';
    src: url('css/fonts/webfontkit-20221127-160634/caneladeck-light-trial-webfont.woff2') format('woff2'),
         url('css/fonts/webfontkit-20221127-160634/caneladeck-light-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: 002d72;
}

button:hover
{
    background-color:rgb(255,251,245);
    outline: 3px solid rgb(1,45,114);
    cursor: pointer;
    color: rgb(1,45,114);
}

/* responsive media css */

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
{
    button
    {
        width: 150px;
        margin-left: 0%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    button
    {
        width: 200px;
        margin-left: 100px;
    }
}

